.App {
  display: grid;
  grid-template-areas: 
  'navbar navbar navbar navbar'
  'sidebar greeting greeting greeting'
  'sidebar sunrise climate timer'
  'sidebar chuck chuck chuck'
  'sidebar calendar calendar calendar';
}

.top-navbar{grid-area: navbar;}
.left-sidebar{grid-area: sidebar;}
.app-greeting{grid-area: greeting;}
.sunrise{grid-area: sunrise;}
.climate-data{grid-area: climate;}
.countdown-timer{grid-area: timer;}
.chuck-norris{grid-area: chuck;}
.gmail-calendar{grid-area: calendar;}

.top-navbar{
  display: flex;
  justify-content: flex-start;
  background: #C5D5E4;
  border-bottom: 3px solid black;
}

.top-navbar h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 5px;
}

.logo{
  display: flex;
  height: 8vh;
}

.api-divs{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #C5D5E4;
}

.left-sidebar{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background: #EBF5F8; 
  border-right: 3px solid black;
}
li {
  list-style-type: none;
}
.left-unordered-list li a{ 
  color: black;
  text-decoration: none;
}

.gmail-calendar{
  display: flex;
}

.gmail-calendar iframe{
  display: flex;
  width: 70vw; 
  height: 600px; 
  opacity: .8;
}

.app-greeting, .api-divs{
  background-image: url(./witch_on_blades.png);
  background-attachment: fixed;
  background-position: left;
}



