.App {
  display: grid;
  grid-template-areas: 
  'navbar navbar navbar navbar'
  'sidebar greeting greeting greeting'
  'sidebar sunrise climate timer'
  'sidebar chuck chuck chuck'
  'sidebar calendar calendar calendar';
}

.top-navbar{grid-area: navbar;}
.left-sidebar{grid-area: sidebar;}
.app-greeting{grid-area: greeting;}
.sunrise{grid-area: sunrise;}
.climate-data{grid-area: climate;}
.countdown-timer{grid-area: timer;}
.chuck-norris{grid-area: chuck;}
.gmail-calendar{grid-area: calendar;}

.top-navbar{
  font-family: ;
  display: flex;
  background: #C5D5E4;
  border-bottom: 1px solid black;
}

.api-divs{
  border: 1px solid #C5D5E4;
}

.left-sidebar{
  display: flex;
  flex-direction: column;
  background: #EBF5F8; 
}
li {
  list-style-type: none;
}
.left-unordered-list li a{ 
  color: black;
  text-decoration: none;
}



